{% extends "main/base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 

{% if object.contact_name %}

<br><br>
<h4>Updating details of {{ object.contact_name }} {{ object.contact_lastname }}</h4>
  
{% else %}
<h4>Add Contact</h4>
{% endif %}
  


<form method="POST" enctype="multipart/form-data" autocomplete="off">
     {% csrf_token %}
     <div class="container">
  <div class="row">
    <div class="col">
     {{ form|crispy }}
<br/>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <div class="col">
        
    </div>
  </div>
</div>


    {% endblock content %}